<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布--Noodles社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/Noodles.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/Noodles.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="~{nav :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>发起</h2>

            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <loabel for="title">你的问题标题</loabel>
                    <input type="text" class="form-control" id="title" th:value="${title}" name="title"
                           placeholder="你的标题...">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">问题补充(参照右侧提示)</label>
                    <textarea name="description" style="display: none" id="description" th:text="${description}" class="form-control"
                              cols="30" rows="10" placeholder="问题补充...">
                    </textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("question-editor", {
                            width: "100%",
                            height: 350,
                            path: "/js/lib/",
                            delay: 0,
                            watch: false,
                            placeholder: "请输入问题描述",
                            imageUpload: true,
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload",
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签</label>

                    <input type="text" class="form-control" id="tag" th:value="${tag}" name="tag" placeholder="输入标签..."
                    onclick="showTag()">


                      <div id="show-tag" class="publish-tag-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:class="${showCategoryStat.first?'active':''}" th:each="showCategory:${tags}" >
                                <a th:href="${'#'+showCategory.categoryName}" aria-controls="home" role="tab"
                                                                      data-toggle="tab" th:text="${showCategory.categoryName}">

                                </a></li>

                        </ul>
                                 <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" th:id="${showCategory.categoryName}"
                                    th:each="showCategory:${tags}"
                                 th:class="${showCategoryStat.first?'active tab-pane':'tab-pane'}" >
                                <span class="glyphicon glyphicon-tag label label-success label-Info" th:each="showTag:${showCategory.tags}">
                          <span onclick="selectTag(this)" th:data-tag="${showTag}" th:text="${' '+showTag}" >
                          </span></span>
                            </div>
                        </div>
                    </div>
             </div>


                <div class="container-fluid main">
                    <div class="row">
                        <div class=" col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}"
                                 th:if="${error!=null}">

                            </div>

                        </div>

                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-info btn-publish">发起</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>问题发起指南</h2>
            问题标题:请用精简的语言描述发布问题，不超过25字 <br/>
            选择标签:选择一个或者多个合适的标签，用逗号隔开，每个标签不超过十个字
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>